/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3b90ff;
  --ifm-color-primary-dark: #3b90ff;
  --ifm-color-primary-darker: #3b90ff;
  --ifm-color-primary-darkest: #3b90ff;
  --ifm-color-primary-light: #7dc0ff;
  --ifm-color-primary-lighter: #7dc0ffe8;
  --ifm-color-primary-lightest: #7dc0ffb6;
  --ifm-code-background-dark: #292d3e;
  --ifm-code-font-size: 95%;

  --ifm-global-radius: 4px;

  --ifm-col-spacing-vertical: 0.5rem;

  --dracula-Background: #282A36;
  --dracula-Foreground: #F8F8F2;
  --dracula-Selection : #44475A;
  --dracula-Comment   : #6272A4;
  --dracula-Red       : #FF5555;
  --dracula-Orange    : #FFB86C;
  --dracula-Yellow    : #F1FA8C;
  --dracula-Green     : #50FA7B;
  --dracula-Purple    : #BD93F9;
  --dracula-Cyan      : #8BE9FD;
  --dracula-Pink      : #FF79C6;
}

html[data-theme='light'] {
  --dracula-Background: #F8F8F2;
  --dracula-Foreground: #282A36;
  --dracula-Selection : #c5c8de;
  --dracula-Comment   : #7e8ec2;
  --dracula-Red       : #d82f39;
  --dracula-Orange    : #a0651b;
  --dracula-Yellow    : #6c7908;
  --dracula-Green     : #008504;
  --dracula-Purple    : #855fbf;
  --dracula-Cyan      : #007e90;
  --dracula-Pink      : #c13f8e;
}

html[data-theme='light'] .alert--success {
    --ifm-alert-background-color: var(--dracula-Green);
    --ifm-alert-border-color: var(--dracula-Green);
}

html[data-theme='light'] .alert--info {
    --ifm-alert-background-color: var(--dracula-Cyan);
    --ifm-alert-border-color: var(--dracula-Cyan);
}

html[data-theme='light'] .alert--warning {
    --ifm-alert-background-color: var(--dracula-Orange);
    --ifm-alert-border-color: var(--dracula-Orange);
}

html[data-theme='light'] .alert--danger {
    --ifm-alert-background-color: var(--dracula-Red);
    --ifm-alert-border-color: var(--dracula-Red);
}




.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.main-wrapper {
  position: relative;
}

@media screen and (max-width: 996px) {
  .row .col {
    padding-top: var(--ifm-col-spacing-vertical);
    padding-bottom: var(--ifm-col-spacing-vertical);
  }
}

.tz{
  color: #287ef7;
  font-weight: bold;
}

.contains-task-list {
  list-style: none;
  padding-left: 0;
}

.michelson{
  border: 1px solid var(--dracula-Foreground);
  background-color: var(--dracula-Background);
  padding: 10px;
}

.entrypointName {
  color: var(--dracula-Green);
  font-weight: bold;
}

.michelsonType {
  color: var(--dracula-Cyan);
  font-style: italic;
}

.entrypointVariableName {
  color: var(--dracula-Foreground);
}

.variableName {
  color: var(--dracula-Foreground);
}

.michelsonAnnotation {
  color: var(--dracula-Orange);
  font-style: italic;
}

.michelsonArgDescription {
  color: var(--dracula-Comment);
}
.michelsonArgDescription .entrypointName {
  color: var(--dracula-Pink);
  font-weight: inherit;
}

.michelsonArgsSection {
  margin-top: 10px;
}

.michelsonArgsSection h4 {
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 1em;
}

.michelsonArgs {
  display:table;
}
.michelsonArg {
  display:table-row;
}

.michelsonArgs .michelsonAnnotation,
.michelsonArgs .michelsonType,
.michelsonArgs .michelsonArgDescription {
  display:table-cell;
}
.michelsonArgs .michelsonType {
  padding-left: 10px;
}
.michelsonArgs .michelsonArgDescription {
  padding-left: 30px;
}

h4 .michelsonType {
  margin-left: 10px;
}

[class*="sidebar"] {
    padding-top: 0px !important;
}