<script setup>
 const props = defineProps(['tfields', 'fields'])
</script>

<template>
    <div>
        RECORD<br>
        fields:{{fields}}<br>
        tfields:{{tfields}}<br>
        tfields[1]:{{tfields[1]}}<br>
    </div>
</template>
