<script setup>
 import SpRecord from './SpRecord.vue'
 import { ref } from 'vue'
 const props = defineProps(['initialValue', 'editable', 'type', 'contents'])

 const typ = JSON.parse(props.type)
 // const contents = props.contents ? JSON.parse(props.contents) : props.undefined

 /* TODO
 const v = JSON.parse(props.initialValue)
 const typ = v[0]
 const value = v[1]

 let subComponent = ""
 let subProps = {}

 switch(typ[0]) {
     case 'Record':
         subComponent = "SpRecord"
         subProps = { tfields: typ.slice(1), fields: contents }
         break;
     default:
         throw ('Unknown SmartPy type: ' + typ)
 }
     <component :is="{subComponent}" v-bind="subProps" />
  */
</script>

<template>
    <SpRecord :tfields="typ[1]" :fields="contents" />
</template>
