<script setup>
import SpValue from './components/SpValue.vue'
import CodeMirror from './components/CodeMirror/CodeMirror.ce.vue'
import {ref} from 'vue';

const t1 = '["Record","my_literals",["Record","my_address",["Address"],"my_bool",["Bool"],"my_bytes",["Bytes"],"my_int",["Int"],"my_intOrNat",["IntOrNat"],"my_mutez",["Mutez"],"my_nat",["Nat"],"my_string",["String"],"my_timestamp",["Timestamp"],"my_unit",["Unit"]],"my_maps",["Map",["Nat"],["String"]],"my_variants",["Record","my_none",["Option","None",["Unit"],"Some",["String"]],"my_option_map",["Option","None",["Unit"],"Some",["Map",["Record","address",["Address"],"token_id",["Nat"]],["Nat"]]],"my_option_record",["Option","None",["Unit"],"Some",["Record","my_address",["Address"],"my_bool",["Bool"],"my_bytes",["Bytes"],"my_int",["Int"],"my_intOrNat",["Int"],"my_mutez",["Mutez"],"my_nat",["Nat"],"my_string",["String"],"my_timestamp",["Timestamp"],"my_unit",["Unit"]]],"my_some",["Option","None",["Unit"],"Some",["String"]],"my_variant",["Variant","optionNat",["Nat"],"optionString",["String"]]]]'
const c1 = '["my_literals",["my_address",["tz1LUrsJcpEw3UP8Z6tgF8znWSGsnYdwBHGy"],"my_bool",["true"],"my_bytes",["0000"],"my_int",[-42],"my_intOrNat",[42],"my_mutez",[1500000],"my_nat",[42],"my_string",["Hello world"],"my_timestamp",[1662453090],"my_unit",["unit"]],"my_maps",[[0],["Zero"],[1],["One"],[2],["Two"]],"my_variants",["my_none",["None",["unit"]],"my_option_map",["None",["unit"]],"my_option_record",["None",["unit"]],"my_some",["Some",["Some string"]],"my_variant",["optionString",["Hello world"]]]]'
 const x = ref(0)

</script>

<template>
    <div>
        <InputText></InputText>
        <Button>xyz</Button>
        <Button label="abc" />
        <Slider v-model="x" />
        <sp-value :type=t1 :contents=c1 />
        <sp-value :type=t1 :contents=c1 editable />
        <code-mirror disabled="false" indent_with_tab="true" :tab_size="4" autofocus="true" width='1200px'
            height='calc(100vh - 5em)' language='python' theme='oneDark' :font_size="16" :code="`import smartpy as sp
FA2 = sp.io.import_script_from_url(&quot;https://smartpy.io/templates/fa2_lib.py&quot;)

class SimpleNft(FA2.Fa2Nft):
    pass

@sp.add_test(name=&quot;My NFT&quot;)
def test():
    sc = sp.test_scenario()
    nft = SimpleNft(
        metadata = sp.utils.metadata_of_url(&quot;https://example.com&quot;),
    )
    sc += nft
            `" />
    </div>
</template>

<style scoped>

</style>
