<template>
    <codemirror v-model="code" :extensions="extensions" :autofocus="props.autofocus === 'true'"
        :disabled="props.disabled === 'true'" :indent-with-tab="props.indent_with_tab === 'true'"
        :tab-size="props.tab_size" @update="handleStateUpdate" @ready="handleReady" :style="{
            fontSize: `${props.font_size}px`,
        }" />
</template>

<script lang="ts">
import { reactive, shallowRef, computed, watch, onMounted } from 'vue'
import { Codemirror } from 'vue-codemirror'

import { EditorView, ViewUpdate, keymap } from '@codemirror/view'
import { python, localCompletionSource, globalCompletion } from '@codemirror/lang-python'
import { autocompletion } from "@codemirror/autocomplete"
import { Prec } from "@codemirror/state"
import { materialDark } from './materialDark'

import { indentationGuides } from "./indentationGuide"
import { smartPyCompletions } from './smartpyCompletions'
import {
    handleStateUpdate,
    handleUndo,
    handleRedo,
    handleOpenSearchPanel,
    handleCloseSearchPanel
} from './handleActions'

export default {
    name: 'code-mirror',
    props: {
        font_size: Number,
        disabled: String,
        indent_with_tab: String,
        tab_size: Number,
        autofocus: String,
        width: String,
        height: String,
        language: String,
        theme: String,
        code: String,
    },
    components: {
        Codemirror
    },

    setup(props, { emit }) {
        const code = shallowRef(props.code);
        const extensions = computed(() => {
            const result = [
                python(),
                autocompletion({ override: [smartPyCompletions, localCompletionSource, globalCompletion] }),
                indentationGuides(),
                Prec.highest(keymap.of([
                    { key: 'Ctrl-Enter', run: () => true, preventDefault: true }])),
            ];
            if (props.theme === 'oneDark') {
                result.push(materialDark);
            }
            return result
        })
        const cmView = shallowRef<EditorView>()
        const handleReady = ({ view }: any) => {
            cmView.value = view
        }

        const state = reactive({
            lines: null as null | number,
            cursor: null as null | number,
            selected: null as null | number,
            length: null as null | number,
            searchPanelOpen: null as null | boolean,
        })

        onMounted(() => {
            watch(
                () => props.code,
                (_code) => {
                    code.value = _code;
                }
            )
        })

        return {
            props,
            code,
            extensions,
            state,
            handleReady,
            handleStateUpdate: (viewUpdate: ViewUpdate) => handleStateUpdate(state, cmView, viewUpdate, emit),
            handleUndo: () => handleUndo(cmView),
            handleRedo: () => handleRedo(cmView),
            handleOpenSearchPanel: () => handleOpenSearchPanel(cmView),
            handleCloseSearchPanel: () => handleCloseSearchPanel(cmView),
        }
    }
}
</script>

<style>
.cm-lineNumbers {
    color: rgb(35, 120, 147);
}

.cm-indentation-guide::after {
    border: 0 !important;
}

.cm-indentation-guide {
    box-shadow: 1px 0 0 0 rgb(216, 216, 216) inset;
}

.cm-completionLabel {
    margin-left: 1em;
}
</style>

<!-- Based on example: https://github.surmon.me/vue-codemirror -->
