/* main {
  padding: 2em 0;
} */

header, footer {
    display: none;
}

header {
  position: fixed;
  z-index: 99;
  background-color: white;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: white;
  width: 100%;
  color: black;
  padding-bottom: 3px;
}

footer .item {
  padding: 0 1em;
}

button.item {
  margin: 0 0.5em;
}

.cm-lineNumbers {
  color: rgb(35, 120, 147);
}

.cm-gutters {
  background-color: transparent !important;
  border: 0 !important;
}

.cm-gutterElement {
  padding: 0 3px 0 10px !important;
}

.cm-indentation-guide::after {
  border: 0 !important;
}

.cm-indentation-guide {
  box-shadow: 1px 0 0 0 rgb(216, 216, 216) inset;
}

.cm-completionLabel {
  margin-left: 1em;
}
